#trans3DDemo1 {
	position:relative;
	display:inline-block;
	width:250px;
	height:250px;
	top:-100px;
	/*top:250px;
	margin:0px auto 0px auto;*/
}

#trans3DBoxes1 div {
	position:absolute;
	width:248px;
	height:248px;
	padding:0;
	margin:0;
	border:solid 2px #FFF;
	display:block;
	text-align:center;
	font-size:36px;
	font-weight:bold;
	background-size: 100%;
	color:pink;
}
.aa{
	background:url(../img/001.jpg);
}
.bb{
	background:url(../img/002.jpg);
}
.cc{
	background:url(../img/003.jpg);
}
.dd{
	background:url(../img/004.jpg);
}
.ee{
	background:url(../img/005.jpg);
}
.ff{
	background:url(../img/006.jpg);
}
.aa,.bb,.cc,.dd,.ee,.ff{
	background-position: center;
	background-size: cover;
}
.audio{
	position: relative;
	z-index: 100;
	opacity: 0.2;
}
